<IfModule mod_rewrite.c>
	# Turn on URL rewriting
	RewriteEngine On

	# Base for all rewriting. Set this to /path/to/app/public/
	RewriteBase /form-generator/

	# Protect hidden files from being viewed
	<Files .*>
		Order Deny,Allow
		Deny From All
	</Files>

	# Protect class and template files from being viewed
	RewriteRule ^(?:Class|template)\b.* index.php/$0 [L]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php?URL
	RewriteRule .* index.php/$0 [PT]
</IfModule>