<h1>Database Login</h1>

<form action="{{form_action}}" method="post" class="form-vertical" id="dblogin">

	<label for="host">DB Host</label>
	<input type="text" name="host" id="host" required>

	<label for="user">DB User</label>
	<input type="text" name="user" id="user" required>

	<label for="password">DB Password</label>
	<input type="password" name="password" id="password">

	<label for="database">Database</label>
	<select name="database" id="database" required disabled>
		<option value="">Not loaded</option>
	</select>

	<label for="table">Table</label>
	<select name="table" id="table" required disabled>
		<option value="">Not loaded</option>
	</select>

	<div class="error hidden" style="clear: both"></div>

	<button>Generate Form</button>
	
</form>