<aside class="actions">
<a href="Database/login"><button>Go Back</button></a>
<button id="download">Download As Website</button>
</aside>

<h2>Code:</h2>

<form action="Database/download" method="post" id="codeform">
	<textarea cols="80" rows="20" name="code" id="code">{{code}}</textarea>
</form>

<h2>Rendered Output:</h2>

<div id="rendered">
	{{{code}}}
</div>