<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Generated Form</title>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/form.css">


</head>
<body>

	{{{form}}}

	<script type="text/javascript" src="js/vendor/jQuery.min.js"></script>
</body>
</html>